rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /payment_logs/{log} {
      allow read, write: if true;
    }
    
    match /api_key_usage/{usage} {
      allow read: if true;
      allow write: if true;
    }

    match /support_messages/{message} {
      allow read, write: if true;
    }
  }
}
